@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,body{

    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:	 #85adad;

}
.button{

margin: 0 3px;
    padding: 20px;
    border: 2px black solid;
    border-radius:  9px;
    cursor: pointer;
    width: 50px;
    background-color:  #66d9ff;
}

.row{

    margin: 8px;
}
.row input{
    margin: 0;
    padding: 6px 0px;
    border: 2px solid black;
 font-size: 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
width: 220px;
}

.element{
    width: 320px;
border: 2px solid black;
}
